name: pipeline

on:
  push:
    branches:
      - main

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: echo 'Hello peeps from the pipeline!'

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout and clone repo
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: run unit tests
        run: npm run test-unit

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout and clone repo
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: check lint
        run: npm run lint

  e2e-tests:
    needs:
      - unit-tests
      - lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout and clone repo
        uses: actions/checkout@v3

      - name: Setup PSQL
        uses: harmon758/postgresql-action@v1
        with:
          postgresql db: test_db
          postgresql user: mr_testerson
          postgresql password: pa55w0rd

      - name: Install dependencies
        run: npm install
      - name: Test app
        run: PGDATABASE=test_db PGUSER=mr_testerson PGPASSWORD=pa55w0rd npm run test-e2e

  staging:
    needs: e2e-tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout and clone repo
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: Test app with live database
        run: echo connect to a hosted database and run tests on that

  deploy-to-production:
    needs: staging
    runs-on: ubuntu-latest
    steps:
      - name: actually deploy the app
        run: echo do loads of stuff
